[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014-2017 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #
  # Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines.
  #%]
[% IF error == "activitygraph_no_graphs" %]
    [% title = "Graphs not enabled" %]
    Graphs feature is disabled on this [% terms.Bugzilla %] instance.
    Please contact admin: [% Param('maintainer') FILTER html %].
[% ELSIF error == "activitygraph_no_webdot" %]
    [% title = "Webdot not supported" %]
    Only localy generated graphs are supported by this feature.
    Please contact admin: [% Param('maintainer') FILTER html %].
[% END %]
