[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]
[%
    title = "ActivityGraph"
    desc = "ActivityGraph extension"
%]

[% param_descs = {
    activitycolorsinplanning => "Show activity color in AgileTools planning " _
                                "view bug lists",
    activitygraphdayslimit =>   "Activity color red day limit on the graph",
    activitybuglistdayslimit => "Activity color red day limit on bug list",
} %]
